@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500');
html {
  font-family: 'Montserrat';
}

body {
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Prevent double touch zoom on buttons*/

button {
  touch-action: manipulation;
}

.scrollable-element {
  max-height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (orientation: portrait) {
  body {
    max-height: 764px;
    max-width: 430px;
  }
}

@media screen and (orientation: landscape) and (max-device-width: 1224px) {
  body {
    max-height: 430px;
    max-width: 764px;
  }
}

@media screen and (orientation: landscape) and (min-device-width: 1224px) {
  body {
    max-height: 764px;
    max-width: 430px;
  }
}

.slick-dots {
  top: -70px !important;
  position: relative !important;
}

.slick-dots li {
  margin: 0px !important;
  width: 15px !important;
  height: 15px !important;
}

.slick-dots li button {
  width: 15px !important;
  height: 15px !important;
}

.slick-dots li button:before {
  font-size: 8px !important;
  color: #ffffff !important;
}

.slick-dots li.slick-active button:before {
  color: #f2afa3 !important;
}

.slick-next,
.slick-prev {
  display: none !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  animation-duration: 1s;
  animation-delay: .3s
}

.header-text {
  font-family: PlayfairDisplay;
  font-weight: bold;
  color: black;
  font-size: 48px;
}

.body-text {
  color: #3B3939;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
}