@font-face {
  font-family: TradeGothicLTStd;
  src: url('./TradeGothicLTStd.otf') format('opentype');
}

#footer * {
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

#footer a {
  outline: none;
  text-decoration: none;
}

.active .customer-service div:before {
  opacity: 0;
}

.customer-service {
  max-width: 26vw;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  position: relative;
}

.customer-service div:before {
  position: absolute;
  top: 17px;
  right: 11px;
  margin-left: -1px;
  background: #fff;
  content: '';
  width: 2px;
  height: 10px;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.customer-service div:after {
  position: absolute;
  top: 22px;
  right: 7px;
  margin-top: -1px;
  height: 2px;
  width: 10px;
  background: #fff;
  content: '';
}

.customer-service-nav {
  position: absolute;
  top: 46px;
  left: 0.5%;
  background: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active .customer-service-nav {
  position: absolute;
  top: 46px;
  left: 0.5%;
  background: #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.active .customer-service-nav a {
  display: inline-block;
  position: relative;
  line-height: 38px;
  padding-left: 10px;
  letter-spacing: 1px;
  color: #fff;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  font-family: Open Sans;
}

.customer-service-nav a {
  display: inline-block;
  position: relative;
  line-height: 38px;
  padding-left: 10px;
  letter-spacing: 1px;
  color: #fff;
  font-family: Open Sans;
}

.customer-service-mask {
  position: absolute;
  top: 60%;
  left: 0.5%;
  width: 91%;
  height: 22vh;
  background: #000;
  transition: height 0.2s ease-in, top 0.2s ease-in;
}

.active .customer-service-mask {
  position: absolute;
  top: 260%;
  left: 0.5%;
  width: 100%;
  height: 5vh;
  background: #000;
  transition: height 0.2s ease-in, top 0.2s ease-in;
}

#subscribe-container {
  flex: 1;
  background-position: 0px 0px;
  border-image-outset: 0;
  bottom: 0px;
  color: rgb(45, 45, 45);
  display: flex;
  height: 58px;
  left: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(45, 45, 45);
  text-size-adjust: 100%;
  top: 0px;
  column-rule-color: rgb(45, 45, 45);
  align-items: stretch;
  hyphens: none;
  caret-color: rgb(45, 45, 45);
  background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box
    border-box;
  font: normal normal 400 normal 16px / normal 'Open Sans';
  outline: rgb(45, 45, 45) none 0px;
  transition: none 0s ease 0s;
}

#subscribe-container input {
  color: rgb(48, 59, 67);
  cursor: auto;
  display: block;
  height: 38px;
  min-height: 22px;
  text-align: left;
  text-decoration: none solid rgb(48, 59, 67);
  text-size-adjust: 100%;
  width: 92%;
  min-width: 130px;
  column-rule-color: rgb(48, 59, 67);
  hyphens: none;
  perspective-origin: 119.016px 19px;
  transform-origin: 119.016px 19px;
  caret-color: rgb(48, 59, 67);
  border: 1px solid rgb(180, 187, 195);
  border-radius: 2px 2px 2px 2px;
  font: normal normal 400 normal 16px / normal Arial, 'Helvetica Neue',
    Helvetica, sans-serif;
  outline: rgb(48, 59, 67) none 0px;
  padding: 0px 0px 0px 16px;
  transition: none 0s ease 0s;
}

#subscribe-container button {
  margin-left: 10px;
  border-image-outset: 0;
  bottom: 0px;
  box-sizing: content-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  height: 16px;
  left: 0px;
  min-height: 0px;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(255, 255, 255);
  text-size-adjust: 100%;
  top: 0px;
  width: 39%;
  min-width: 80px;
  word-break: break-word;
  column-rule-color: rgb(255, 255, 255);
  hyphens: none;
  perspective-origin: 48.6719px 19px;
  transform-origin: 48.6719px 19px;
  caret-color: rgb(255, 255, 255);
  background: rgb(48, 59, 67) none repeat scroll 0% 0% / auto padding-box
    border-box;
  border: 0px none rgb(0, 0, 0);
  border-radius: 2px 2px 2px 2px;
  font: normal normal 700 normal 16px / 16px Arial, 'Helvetica Neue', Helvetica,
    sans-serif;
  outline: rgb(255, 255, 255) none 0px;
  padding: 11px 10px;
  transition: none 0s ease 0s;
}

#facebook-widget {
  color: white;
}

#facebook-widget i {
  margin-left: 0.5em;
}

#facebook-widget strong {
  text-transform: uppercase;
  font-family: TradeGothicLT;
  letter-spacing: 2px;
  line-height: 20px;
  font-weight: 400;
  font-size: 16px;
}

#facebook-widget-container * {
  z-index: 1;
}

#facebook-widget-container div {
  text-align: center;
  color: #fff;
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  width: 19%;
  margin-top: 1.1em;
}

#social-media-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: 45vw;
  margin: 0 auto;
  margin-top: 2em;
}

#social-media-container * {
  z-index: 1;
}

#social-media-container a {
  color: white;
  font-size: 1.3em;
}

#hashtag-container * {
  z-index: 1;
}

#hashtag-container {
  display: flex;
  justify-content: space-evenly;
  width: 45vw;
  margin: 2em auto;
}

#hashtag-container a {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'TradeGothicLT';
  letter-spacing: 2px;
}

#footer-nav {
  border-top: 1px solid #333;
  text-align: center;
  color: #5c5c5c;
  line-height: 0.8;
  display: block;
  font-size: 13px;
  padding: 1.5em 0;
  z-index: 1;
  transform: rotate3d(0, 0, 0, 0);
}

#footer-nav :nth-child(1) {
  padding-right: 2em;
}

#footer-nav :nth-child(2) {
  border-left: 1px solid #5c5c5c;
  border-right: 1px solid #5c5c5c;
  padding: 0 2em;
  color: #5c5c5c;
  transition: all 0.5s;
}

#footer-nav :nth-child(3) {
  padding-left: 2em;
  color: #5c5c5c;
  transition: all 0.5s;
}

#footer-nav :nth-child(3):hover {
  color: white;
}

#footer-nav :nth-child(2):hover {
  color: white;
}
